<div class="container">
	<div class="row-fluid">
		<div class="span12 page-header">
			<h1><%= @craft.name %></h1>
		</div>
	</div>
	<div class="row-fluid">
		<div class="profile-left span6">
			<img src="<%= @craft.image_url %>" alt="<%= @craft.name %>" class="header-image">
			<p><%= @craft.short_description %></p>
		</div>
	</div>

	<p>
		<%= @craft.long_description %>
	</p>

</div>