<div class="wrapper">

	<img src="<%= @craft.image_url %>" alt="<%= @craft.name %>">

	<h1><%= @craft.name %></h1>

	<h2><%= @craft.short_description %></h2>

	<p>
		<%= @craft.long_description %>
	</p>

</div>