<div class="container">
	<div class="row-fluid">
		<div class="span12 page-header">
			<h1>Create a Mage Account</h1>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span5 form-container">
			<%= form_tag users_url, :method => "post" do %>
				<div class="form-input control-group">
					<%= label_tag "email", nil, :class  => "control-label" %>
					<div class="controls">
						<%= email_field_tag "email", nil, { :id => "email", :placeholder => "Email Address", :class => "form-text-input", :required => "true" } %>
						<span class="no">Make sure it's valid!</span>
					</div>
				</div>
				<div class="form-input control-group">
					<%= label_tag "username", nil, :class => "control-label" %>
					<div class="controls">
						<%= text_field_tag "username", nil, { :id => "username", :placeholder => "Username", :class => "form-text-input", :required => "true" } %>
						<span class="no">Thy name musn't change.</span>
					</div>
				</div>
				<div class="form-input control-group">
					<%= label_tag "password", nil, :class => "control-label" %>
					<div class="controls">
						<%= password_field_tag "password", nil, { :id => "password", :placeholder => "Password", :class => "form-text-input", :required => "true", :maxlength => 20 } %>
						<span class="no">Choose wisely, young learner.</span>
					</div>
				</div>
				<div class="form-input control-group">
					<%= label_tag "first", "First Name", :class => "control-label" %>
					<div class="controls">
						<%= text_field_tag "first", nil, { :id => "first", :placeholder => "First Name", :class => "form-text-input", :required => "true" } %>
						<span class="no">Keep it real.</span>
					</div>
				</div>
				<div class="form-input control-group">
					<%= label_tag "last", "Last Name", :class => "control-label" %>
					<div class="controls">
						<%= text_field_tag "last", nil, { :id => "last", :placeholder => "Last Name", :class => "form-text-input", :required => "true" } %>
						<span class="no">We won't make this public.</span>
					</div>
				</div>
				<div class="form-input control-group">
					<%= label_tag "bio", nil, :class => "control-label" %>
					<div class="controls">
						<%= text_area_tag "bio", nil, { :class => "form-text-input", :rows => 10 } %>
						<span class="no">Scribe your interests!</span>
					</div>
				</div>
				<div class="form-input control-group">
					<%= button_tag "Create Account", :class => "form-button link-gold" %>
				</div>
			<% end %>
		</div>
	</div>
</div>