<div class="container">
	<div class="row-fluid">
		<div class="span12 page-header">
			<h1>Create a Mage Account</h1>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span5 form-container">
			<%= form_for @user, :url => users_url, :method => "post" do |f| %>
				<div class="form-input control-group">
					<%= f.label :email, nil, :class  => "control-label" %>
					<div class="controls">
						<%= f.email_field :email, { :placeholder => "Email Address", :class => "form-text-input", :required => "true" } %>
						<span class="no">Make sure it's valid!</span>
					</div>
				</div>
				<div class="form-input control-group">
					<%= f.label :username, nil, :class => "control-label" %>
					<div class="controls">
						<%= f.text_field :username, { :id => "username", :placeholder => "Username", :class => "form-text-input", :required => "true" } %>
						<span class="no">No spaces, mate!</span>
					</div>
				</div>
				<div class="form-input control-group">
					<%= f.label :password, nil, :class => "control-label" %>
					<div class="controls">
						<%= f.password_field :password, { :id => "password", :placeholder => "Password", :class => "form-text-input", :required => "true", :maxlength => 20 } %>
						<span class="no">At least six characters, please.</span>
					</div>
				</div>
				<div class="form-input control-group">
					<%= f.label :password_confirmation, "Confirm Password", :class => "control-label" %>
					<div class="controls">
						<%= f.password_field :password_confirmation, { :id => "password_confirmation", :placeholder => "Confirm Password", :class => "form-text-input", :required => "true", :maxlength => 20 } %>
						<span class="no">We need confirmation!</span>
					</div>
				</div>
				<div class="form-input control-group">
					<%= f.label :bio, "Short Bio", :class => "control-label" %>
					<div class="controls">
						<%= f.text_area :bio, { :class => "form-text-input", :rows => 10 } %>
						<span class="no">Scribe your interests!</span>
					</div>
				</div>
				<div class="form-input control-group">
					<%= button_tag "Create Account", :class => "form-button link-gold" %>
				</div>
			<% end %>
		</div>
		<div class="span7">
			<%= render 'shared/error_messages' %>
		</div>
	</div>
</div>