<div class="profile">
	<div class="row-fluid">
		<% flash.each do |key, value| %>
			<div class="span12 message message-<%= key %>">
				<div class="message-inner">
					<%= value %><span>&#x2716;</span>
				</div>
			</div>
		<% end %>
	</div>
	<div class="row-fluid">
		<div class="span12 page-header">
			<%= gravatar_image_tag(@user.email, :alt => "#{@user.username}", :class => 'profile-avatar', :gravatar => { :size => 150 }) %>
			<h1 class="resource-title"><span><%= @user.username %></span></h1>
			<div class="breadcrumbs">
				<span><%= @user.bio %></span>
			</div>
			<div class="follow-stuff">
				<% if current_user && current_user != @user %>
					<% if !current_user.following?(@user) %>
						<%= render 'users/follow' %>
					<% else %>
						<%= render 'users/unfollow' %>
					<% end %>
				<% elsif current_user != @user %>
					<span class="recommended">Sign in to follow <%= @user.username %></span>
				<% else %>
					<span class="recommended">Checkin' yourself out, eh?</span>
				<% end %>
			</div>
			<% if signed_in? && current_user.id == @user.id %>
				<a href="/users/<%= current_user.username %>/edit" class="edit-profile">Edit Profile</a>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="span7 followers">
			<%= render 'users/followers' %>
		</div>
		<div class="span5">
			<span class="recommended">Following <%= @user.relationships.count %> mages</span>
			<div class="connection-container">
				<% @user.relationships.each do |relationship| %>
					<% followed = User.find(relationship.followed_id) %>
					<a href="<%= user_url(followed.username) %>">
						<%= gravatar_image_tag(followed.email, :alt => "#{followed.username}", :title => followed.username, :class => 'profile-avatar', :gravatar => { :size => 50 }) %>
					</a>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4 subhead">
			<h2>Recommendations</h2>
			<div class="white-container-no-padding p-padding" style="padding-bottom: 0;">
				<p>Resources <strong><%= @user.username %></strong> recommends.</p>
				<div class="user-stuff-container">
					<% if !@resources_upvoted.empty? %>
						<% @resources_upvoted.each do |resource| %>
							<a href="<%= resource.full_path %>" class="user-stuff-image">
								<img title="<%= resource.name %> - <%= resource.level.name %>" src="<%= resource.avatar.url %>">
							</a>
						<% end %>
					<% else %>
						<a href="/" class="user-stuff-image resource-empty">
							<img src="https://s3.amazonaws.com/mage_images/placeholders/eloquent.jpg">
						</a>
						<p class="empty">Once you recommend learning resources, they'll show up here!</p>
					<% end %>
				</div>
			</div>
		</div>
		<div class="span4 subhead">
			<h2>Contributions</h2>
			<div class="white-container-no-padding p-padding" style="padding-bottom: 0;">
				<p>Resources <strong><%= @user.username %></strong> has contributed.</p>
				<div class="user-stuff-container">
				<% if !@user.resources.empty? %>
					<% @user.resources.each do |resource| %>
						<a href="<%= resource.full_path %>" class="user-stuff-image">
							<img title="<%= resource.name %> - <%= resource.level.name %>" src="<%= resource.avatar.url %>">
						</a>
					<% end %>
				<% else %>
						<a href="/" class="user-stuff-image resource-empty">
							<img src="https://s3.amazonaws.com/mage_images/placeholders/eloquent.jpg">
						</a>
						<p class="empty"><a href="/resources/new">Contribute a resource</a> that has helped you learn!</p>
				<% end %>
				</div>
			</div>
		</div>
		<div class="span4 subhead">
			<h2>Interests</h2>
			<div class="white-container-no-padding p-padding" style="padding-bottom: 0;">
				<p>Crafts <strong><%= @user.username %></strong> is interested in.</p>
				<div class="user-stuff-container">
					<% if !@crafts_interested.empty? %>
						<% @crafts_interested.each do |craft| %>
							<a href="<%= craft.full_path %>" class="user-stuff-image">
								<img title="<%= craft.name %>" src="<%= craft.image.url %>">
							</a>
						<% end %>
					<% else %>
						<a href="/" class="user-stuff-image resource-empty">
							<img src="https://s3.amazonaws.com/mage_images/placeholders/eloquent.jpg">
						</a>
						<p class="empty">Contribute or recommend a resource to express an interest!</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>