<div class="container profile">
	<div class="row-fluid">
		<% flash.each do |key, value| %>
			<div class="span12 message message-<%= key %>">
				<div class="message-inner">
					<%= value %><span>&#x2716;</span>
				</div>
			</div>
		<% end %>
	</div>
	<div class="row-fluid">
		<div class="span12 page-header">
			<%= gravatar_image_tag(@user.email, :alt => "#{@user.first_name} #{@user.last_name}", :class => 'profile-avatar', :gravatar => { :size => 150 }) %>
			<h1 class="resource-title"><span><%= @user.username %></span></h1>
			<div class="breadcrumbs">
				<span><%= @user.bio %></span>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4 subhead">
			<h2>Upvotes</h2>
			<div class="white-container">
				Upvotes
			</div>
		</div>
		<div class="span4 subhead">
			<h2>Submissions</h2>
			<div class="white-container">
				Upvotes
			</div>
		</div>
		<div class="span4 subhead">
			<h2>Interests</h2>
			<div class="white-container">
				Upvotes
			</div>
		</div>
	</div>
</div>