<div class="container">
	<section class="home-content">
		<div class="row-fluid">
			<div class="span12 subhead">
				<h2>Top Resources / <span>This week's top resources</h2>
			</div>
		</div>
		<div class="row-fluid">
			<% @resources.each do |resource| %>
				<a href="/programming/<% resource.craft %>/<%= resource.path %>" class="span3 home-resource">
					<div class="home-resource-inner">
						<h3><%= resource.name %></h3>
						<div style="background: url('<%= resource.image_url %>') no-repeat;" class="home-resource-image">
						</div>
						<p class="home-resource-description"><%= resource.description %></p>
					</div>
				</a>
			<% end %>
		</div>
		<div class="row-fluid">
			<div class="span12 subhead">
				<h2>Top Crafts / <span>This week's top areas of learning</span></h2>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3 home-resource">
				<div class="home-resource-inner">
					<h3>Ruby on Rails</h3>
					<div style="background: url('http://www.brandsoftheworld.com/sites/default/files/styles/logo-original-577x577/public/112012/rails.png') no-repeat;" class="home-resource-image">
					</div>
					<p class="home-resource-description">Chris Pine's "Learn to Program" is great for absolute beginners!</p>
				</div>
			</div>
			<div class="span3 home-resource">
				<div class="home-resource-inner">
					<h3>HTML5</h3>
					<div style="background: url('http://www.blog-nouvelles-technologies.fr/wp-content/uploads/2011/03/les-10-meilleures-ressources-pour-apprendre-html5.jpg') no-repeat;" class="home-resource-image">
					</div>
					<p class="home-resource-description">Chris Pine's "Learn to Program" is great for absolute beginners!</p>
				</div>
			</div>
			<div class="span3 home-resource">
				<div class="home-resource-inner">
					<h3>Caligraphy</h3>
					<div style="background: url('http://designworklife.com/wp-content/uploads/2011/02/kateforrester_calligraphy_01.jpg') no-repeat;" class="home-resource-image">
					</div>
					<p class="home-resource-description">Chris Pine's "Learn to Program" is great for absolute beginners!</p>
				</div>
			</div>
			<div class="span3 home-resource">
				<div class="home-resource-inner">
					<h3>jQuery UI</h3>
					<div style="background: url('https://www.cs.washington.edu/education/courses/190m/12su/lectures/slides/images/jquery_ui_logo_small.gif') no-repeat;" class="home-resource-image">
					</div>
					<p class="home-resource-description">Chris Pine's "Learn to Program" is great for absolute beginners!</p>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 subhead">
				<h2>Top Mages / <span>This week's top sharers</span></h2>
			</div>
		</div>
		<div class="row-fluid">
			<% @users.each do |user| %>
				<div class="span3 home-resource">
					<div class="home-resource-inner">
						<h3><%= user.username %></h3>
						<%= gravatar_image_tag(user.email, :alt => "#{user.first_name} #{user.last_name}", :class => 'home-resource-image', :gravatar => { :size => 250 }) %>
						<p class="home-resource-description"><%= user.bio %></p>
					</div>
				</div>
			<% end %>
		</div>
		</div>
	</section>
</div>

