<div class="container">
	<section class="home-content">
		<div class="row-fluid">
			<div class="span12 subhead">
				<h2>Top Resources / <span>This week's top resources</h2>
			</div>
		</div>
		<div class="row-fluid">
			<% @resources.each do |resource| %>
				<a href="/computer-programming/<%= Craft.where('id = ?', resource.craft_id)[0].path %>/<%= resource.path %>" class="span3 		home-resource">
					<div class="home-resource-inner">
						<h3><%= resource.name %></h3>
						<div style="background: url('<%= resource.image_url %>') no-repeat;" class="home-resource-image">
						</div>
						<p class="home-resource-description"><%= resource.description %></p>
					</div>
				</a>
			<% end %>
		</div>
		<div class="row-fluid">
			<div class="span12 subhead">
				<h2>Top Crafts / <span>This week's top areas of learning</span></h2>
			</div>
		</div>
		<div class="row-fluid">
			<% @crafts.each do |craft| %>
			<a href="/computer-programming/<%= craft.path %>" class="span3 home-resource">
				<div class="home-resource-inner">
					<h3><%= craft.name %></h3>
					<div style="background: url('<%= craft.image_url %>') no-repeat;" class="home-resource-image">
					</div>
					<p class="home-resource-description"><%= craft.short_description %></p>
				</div>
			</a>
			<% end %>
		</div>
		<div class="row-fluid">
			<div class="span12 subhead">
				<h2>Top Mages / <span>This week's top sharers</span></h2>
			</div>
		</div>
		<div class="row-fluid">
			<% @users.each do |user| %>
				<a href="/users/<%= user.username %>" class="span3 home-resource">
					<div class="home-resource-inner">
						<h3><%= user.username %></h3>
						<%= gravatar_image_tag(user.email, :alt => "#{user.first_name} #{user.last_name}", :class => 'home-resource-image', :gravatar => { :size => 250 }) %>
						<p class="home-resource-description"><%= user.bio %></p>
					</div>
				</a>
			<% end %>
		</div>
		</div>
	</section>
</div>

