
	<section class="home-top">
		<% if signed_in? %>
		<div class="row-fluid">
			<div class="span6">
				<h1>Hey there, <%= current_user.username %>!</h1>
			</div>
			<div class="span6">
				<div class="creation-panel-container">
					<div class="creation-panel">
						<a class="nav-link link-gold creation-panel-link entypo-plus" href="/resources/new">Add a Resource</a><a href="/bundles/new" class="nav-link link-purple creation-panel-link entypo-docs">Make a Bundle</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4 home-feed">
				<h2 class="add">Recently submitted by mages you follow:</h2>
				<div class="feed-container">
					<% if !@recent_resources.empty? %>
						<% @recent_resources.each do |resource| %>
							<a href="<%= resource.full_path %>"><img title="<%= resource.name %> - <%= resource.level.name %>" src="<%= resource.avatar.url %>"></a>
						<% end %>
					<% else %>
						<a href="#" class="resource-empty"><img src="https://s3.amazonaws.com/mage_images/placeholders/eloquent.jpg"></a>
						<p class="empty-help">Follow other mages to see new resources they've added!</p>
					<% end %>
				</div>
				<div class="feed-container">
					<% if !@recent_bundles.empty? %>
						<% @recent_bundles.each do |bundle| %>
							<a href="/bundles/<%= bundle.path %>">
								<div title="<%= bundle.name %>" class="bundle-thumbnail">
									<% resource_count = bundle.resources.count %>
									<% bundle.resources.each_with_index do |resource, i| %>
										<img src="<%= resource.avatar.url %>" class="bundle-image bundle-image-<%= (i + 1).to_s %> bundle-image-<%= (i + 1).to_s %>-static">
									<% end %>
									<% (5 - resource_count).times do |i| %>
										<div class="bundle-image bundle-image-<%= (resource_count + 1 + i).to_s %> bundle-image-<%= (resource_count + 1 + i).to_s %>-placeholder"><%= (resource_count + 1 + i).to_s %></div>
									<% end %>
								</div>
							</a>
						<% end %>
					<% else %>
						<a href="#" class="resource-empty"><img src="https://s3.amazonaws.com/mage_images/placeholders/eloquent.jpg"></a>
						<p class="empty-help">Follow other mages to see new bundles they've added!</p>
					<% end %>
				</div>
			</div>
			<div class="span4 home-feed">
				<h2 class="recommend">Recently recommended by mages you follow:</h2>
				<div class="feed-container">
					<% if !@recommended_resources.empty? %>
						<% @recommended_resources.each do |resource| %>
							<a href="<%= resource.full_path %>"><img title="<%= resource.name %> - <%= resource.level.name %>" src="<%= resource.avatar.url %>"></a>
						<% end %>
					<% else %>
						<a href="#" class="resource-empty"><img src="https://s3.amazonaws.com/mage_images/placeholders/eloquent.jpg"></a>
						<p class="empty-help">Follow other mages to see new resources they've recommended!</p>
					<% end %>
				</div>
				<div class="feed-container">
					<% if !@recommended_bundles.empty? %>
						<% @recommended_bundles.each do |bundle| %>
							<a href="/bundles/<%= bundle.path %>">
								<div title="<%= bundle.name %>" class="bundle-thumbnail">
									<% resource_count = bundle.resources.count %>
									<% bundle.resources.each_with_index do |resource, i| %>
										<img src="<%= resource.avatar.url %>" class="bundle-image bundle-image-<%= (i + 1).to_s %> bundle-image-<%= (i + 1).to_s %>-static">
									<% end %>
									<% (5 - resource_count).times do |i| %>
										<div class="bundle-image bundle-image-<%= (resource_count + 1 + i).to_s %> bundle-image-<%= (resource_count + 1 + i).to_s %>-placeholder"><%= (resource_count + 1 + i).to_s %></div>
									<% end %>
								</div>
							</a>
						<% end %>
					<% else %>
						<a href="#" class="resource-empty"><img src="https://s3.amazonaws.com/mage_images/placeholders/eloquent.jpg"></a>
						<p class="empty-help">Follow other mages to see new bundles they've recommended!</p>
					<% end %>
				</div>
			</div>
			<div class="span4 home-feed">
				<h2 class="comment">Recently commented by mages you follow:</h2>
				<div class="feed-container">
					<% if !@commented_resources.empty? %>
						<% @commented_resources.each do |resource| %>
							<a href="<%= resource.full_path %>"><img title="<%= resource.name %> - <%= resource.level.name %>" src="<%= resource.avatar.url %>"></a>
						<% end %>
					<% else %>
						<a href="#" class="resource-empty"><img src="https://s3.amazonaws.com/mage_images/placeholders/eloquent.jpg"></a>
						<p class="empty-help">Follow other mages to see resources they've commented on!</p>
					<% end %>
				</div>
				<div class="feed-container">
					<% if !@commented_bundles.empty? %>
						<% @commented_bundles.each do |bundle| %>
							<a href="/bundles/<%= bundle.path %>">
								<div title="<%= bundle.name %>" class="bundle-thumbnail">
									<% resource_count = bundle.resources.count %>
									<% bundle.resources.each_with_index do |resource, i| %>
										<img src="<%= resource.avatar.url %>" class="bundle-image bundle-image-<%= (i + 1).to_s %> bundle-image-<%= (i + 1).to_s %>-static">
									<% end %>
									<% (5 - resource_count).times do |i| %>
										<div class="bundle-image bundle-image-<%= (resource_count + 1 + i).to_s %> bundle-image-<%= (resource_count + 1 + i).to_s %>-placeholder"><%= (resource_count + 1 + i).to_s %></div>
									<% end %>
								</div>
							</a>
						<% end %>
					<% else %>
						<a href="#" class="resource-empty"><img src="https://s3.amazonaws.com/mage_images/placeholders/eloquent.jpg"></a>
						<p class="empty-help">Follow other mages to see new bundles they've commented on!</p>
					<% end %>
				</div>
			</div>
		</div>
		<% else %>
		<div class="row-fluid">
			<div class="span6 user-feed">
				<h1 class="home-title">Learning is Magical</h1>
				<p>Learning can be difficult without the right resources in place to guide you along the way. Mage helps you find these valuable resources for your desired area of learning. Sign up and start sharing with others the resources that have helped you master a particular skill.</p>
			</div>
			<div class="span6">

			</div>
		</div>
		<% end %>
	</section>
	<section class="home-content">
		<div class="row-fluid">
			<div class="span12 subhead">
				<h2>Top Resources / <span>This week's top resources</h2>
			</div>
		</div>
		<div class="row-fluid">
			<% @resources.each do |resource| %>
				<a href="<%= resource.full_path %>" class="span2 home-resource">
					<div class="home-resource-inner">
						<h3><%= resource.name %></h3>
						<h4><%= resource.author %></h4>
						<img src="<%= resource.avatar.url %>" class="home-resource-image"/>
						<p class="home-resource-description"><%= resource.description %></p>
					</div>
				</a>
			<% end %>
		</div>
		<div class="row-fluid">
			<div class="span12 subhead">
				<h2>Top Crafts / <span>This week's top areas of learning</span></h2>
			</div>
		</div>
		<div class="row-fluid">
			<% @crafts.each do |craft| %>
				<a href="<%= craft.full_path %>" class="span2 home-resource">
					<div class="home-resource-inner">
						<h3><%= craft.name %></h3>
						<img src="<%= craft.image.url %>" class="home-resource-image">
						<p class="home-resource-description"><%= craft.short_description %></p>
					</div>
				</a>
			<% end %>
		</div>
		<div class="row-fluid">
			<div class="span12 subhead">
				<h2>Top Mages / <span>This week's top sharers</span></h2>
			</div>
		</div>
		<div class="row-fluid">
			<% @users.each do |user| %>
				<a href="<%= user_url(user.username) %>" class="span2 home-resource">
					<div class="home-resource-inner">
						<h3><%= user.username %></h3>
						<%= gravatar_image_tag(user.email, :alt => "#{user.username}", :class => 'home-resource-image', :gravatar => { :size => 250 }) %>
						<p class="home-resource-description"><%= user.bio %></p>
					</div>
				</a>
			<% end %>
		</div>
	</section>

