
	<div class="row-fluid">
		<div class="span12 page-header">
			<img src="<%= @resource.avatar.url %>">
			<h1 class="resource-title"><span><%= @resource.name %></span> by <%= @resource.author %></h1>
			<div class="breadcrumbs">
				<a href="/<%= @classification.path %>"><%= @classification.name %></a> > <a href="<%= @craft.full_path %>"><%= @craft.name %></a> > <%= @resource.name %>
			</div>
			<% if @contributor %>
				<div class="contributed-by">
					<span>Contributed by <%= link_to @contributor.username, user_path(@contributor.username) %></span>
					<%= gravatar_image_tag(@contributor.email, :alt => "#{@contributor.username}", :class => '', :gravatar => { :size => 250 }) %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="span12 resource-controls">
			<% if @recommended.empty? %>
				<%= link_to "Recommend", resource_url, :method => "put", :class => "resource-upvote nav-link link-purple" %>
			<% else %>
				<span class="recommended">You recommend this resource.</span>
			<% end %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span5 white-container resource-left">
			<h3>Description</h3>
			<p><%= @resource.description %></p>
		</div>
		<div class="span7 white-container resource-right">
			<h3>Upvoting Mages</h3>
			<p>Other users who have found this resource useful.</p>
			<div class="upvoted-by">
				<% @users.each do |user| %>
					<a href="/users/<%= user.username %>">
						<%= gravatar_image_tag(user.email, :alt => "#{user.username}", :class => 'user-avatar-image', :gravatar => { :size => 250 }) %>
					</a>
				<% end %>
			</div>
		</div>
	</div>
