<div class="row-fluid">
<div class="span12 page-header">
  <h1>Create a New Bundle!</h1>
</div>
</div>
<div class="row-fluid">
  <div class="span5 form-container">
    <%= form_for @bundle, :url => bundles_url, :method => "post" do |form| %>
        <div class="form-input control-group">
          <%= label_tag "name", "Bundle Name", :class  => "control-label" %>
          <div class="controls">
            <%= form.text_field :name, { :placeholder => "Learn to Design Websites", :class => "form-text-input", :required => "true" } %>
            <span class="no">What did you learn or achieve?</span>
          </div>
        </div>
        <div class="form-input control-group">
          <%= label_tag "description", nil, :class => "control-label" %>
          <div class="controls">
            <%= form.text_area :description, { :class => "form-text-input resource-text-area", :rows => 10, :required => "true", :placeholder => "These resources were awesome . . ." } %>
            <span class="no">Describe your bundle!</span>
          </div>
        </div>
        <div class="form-input control-group">
          <%= button_tag "Create Bundle", :class => "form-button link-gold" %>
        </div>
      <% end %>
  </div>
  <div class="span7">
    <div class="message message-helper">
      <div class="message-inner">
        Use bundles to group resources that have helped you learn a particular skill or achieve a goal.
      </div>
    </div>
    <div class="bundle-choose">
      <% @resources.each do |resource| %>
        <img src="<%= resource.avatar.url %>" class="bundle-choose-image">
      <% end %>
    </div>
  </div>
</div>