<div class="row-fluid">
  <div class="span12 page-header">
    <h1><%= @bundle.name %></h1>
    <div class="bundle-cluster">
      <% @resources.each do |resource| %>
        <img src="<%= resource.avatar.url %>">
      <% end %>
    </div>
    <div class="contributed-by bundle-contributed-by">
      <span>Created by <%= link_to @bundle.user.username, user_url(@bundle.user.username) %></span><%= gravatar_image_tag(@bundle.user.email, :alt => "#{@bundle.user.username}", :class => '', :gravatar => { :size => 250 }) %>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <div class="white-container">
      <h3>Description</h3>
      <p><%= @bundle.description %></p>
    </div>
    <div class="bundle-show-resource-container">
      <% @resources.each do |resource| %>
        <a class="bundle-show-resource" href="<%= resource.full_path %>">
          <img src="<%= resource.avatar.url %>" class="bundle-show-resource-image">
          <div class="bundle-show-resource-text">
            <h3><%= resource.name %> <span>by <%= resource.author %></span></h3>
            <p>
              <% description = resource.description %>
              <% if description.length < 151 %>
                <%= description %>
              <% else %>
                <%= description[0..(description[0...150].rindex(' '))] %> . . .
              <% end %>
            </p>
          </div>
        </a>
      <% end %>
    </div>
  </div>
  <div class="span6">
  </div>
</div>