<!DOCTYPE html>
<html>
<head>
  <title>Mage | Resource Sharing De-Ephemeralized</title>
  <link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<a class='logo' href="/">Mage</a>
				<nav>
					<form action="/search" class="search-header pull-right" method="get">
						<input type="text" placeholder="Search" name="q" value="<%= @q %>">
					</form>
					<% if signed_in? %>
						<%= link_to "Sign Out", sign_out_path, :method => "delete", :class => "pull-right nav-link link-red" %>
						<a class="pull-right profile-link" href="<%= user_path(current_user.username) %>">
							<%= gravatar_image_tag(current_user.email, :alt => "#{current_user.username}", :gravatar => { :size => 150 }) %>
						</a>
					<% else %>
						<a class="pull-right nav-link link-purple" href="/sign-in">Sign In</a>
						<a class="pull-right nav-link link-gold" href="<%= new_user_url %>">Create Account</a>
					<% end %>
				</nav>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<% if signed_in? %>
		<div class="fixed-container">
			<div class="user-panel">
				<%= link_to "Add Resource", new_resource_url, :class => "nav-link link-gold" %>
				<div class="user-panel-resources">
					<% Resource.where(user_id: current_user).limit(5).each do |resource| %>
						<a href="<%= resource.full_path %>">
							<img src="<%= resource.avatar.url %>">
						</a>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
	<%= yield %>
</div>
<div class="container">
	<footer>
		<div class="row-fluid">
			<div class="span12">
				<p>&copy; <%= Time.new.year %></p>
			</div>
		</div>
	</footer>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>
